<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Launch Common Web Maps</Name><AddInID>{57d40eb6-5b15-4ec7-a363-59164503b70f}</AddInID><Description>Launches a browser window with Bing Birds Eye View or Google Maps at the selected location.</Description><Version>0.2</Version><Image /><Author>John Reiser</Author><Company>Rowan University</Company><Date>10/23/2013</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="python_birdseye_addin.py" namespace="python_birdseye_addin"><ArcMap>
    <Commands>
        <Tool caption="Launch Web Maps" category="Launch Web Maps" class="LaunchCommonWebMaps" id="python_birdseye_addin.tool" image="" message="" tip="Launch Bing Birds Eye View or Google Maps (Control+click)"><Help heading="" /></Tool>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Launch Web Maps" category="Launch Web Maps" id="python_birdseye_addin.toolbar" showInitially="true"><Items><Tool refID="python_birdseye_addin.tool" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>